---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/430
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1489445526'
      Etag:
      - W/"8873d03a0bf05bab0ca556cfbb929ec2"
      Last-Modified:
      - Sun, 12 Mar 2017 12:40:37 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/issues/430","repository_url":"https://api.github.com/repos/openpolitics/manifesto","labels_url":"https://api.github.com/repos/openpolitics/manifesto/issues/430/labels{/name}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/430/comments","events_url":"https://api.github.com/repos/openpolitics/manifesto/issues/430/events","html_url":"https://github.com/openpolitics/manifesto/issues/430","id":196073321,"number":430,"title":"More
        on local government","user":{"login":"Floppy","id":3565,"avatar_url":"https://avatars3.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false},"labels":[{"id":165962783,"url":"https://api.github.com/repos/openpolitics/manifesto/labels/idea","name":"idea","color":"fbca04","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2016-12-16T14:38:39Z","updated_at":"2017-03-12T12:40:37Z","closed_at":null,"body":"","closed_by":null}'
  recorded_at: Mon, 13 Mar 2017 21:52:07 GMT
- request:
    method: get
    uri: https://api.github.com/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/430/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1489445526'
      Etag:
      - '"948334ed86486b1bcb24fd7cee2e9db0"'
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Mar 2017 21:52:10 GMT
recorded_with: VCR 3.0.3
