---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/356
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3645'
      X-Ratelimit-Reset:
      - '1469547314'
      Etag:
      - W/"0f691d690fc179a58341831984449329"
      Last-Modified:
      - Wed, 11 May 2016 19:18:12 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/356","id":35088333,"html_url":"https://github.com/openpolitics/manifesto/pull/356","diff_url":"https://github.com/openpolitics/manifesto/pull/356.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/356.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/356","number":356,"state":"closed","locked":false,"title":"Tax
        treatment of industrial scientific and technical (engineering) research","user":{"login":"tkvad","id":6440028,"avatar_url":"https://avatars.githubusercontent.com/u/6440028?v=3","gravatar_id":"","url":"https://api.github.com/users/tkvad","html_url":"https://github.com/tkvad","followers_url":"https://api.github.com/users/tkvad/followers","following_url":"https://api.github.com/users/tkvad/following{/other_user}","gists_url":"https://api.github.com/users/tkvad/gists{/gist_id}","starred_url":"https://api.github.com/users/tkvad/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tkvad/subscriptions","organizations_url":"https://api.github.com/users/tkvad/orgs","repos_url":"https://api.github.com/users/tkvad/repos","events_url":"https://api.github.com/users/tkvad/events{/privacy}","received_events_url":"https://api.github.com/users/tkvad/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-05-10T20:33:01Z","updated_at":"2015-05-26T19:17:04Z","closed_at":"2015-05-26T19:17:04Z","merged_at":"2015-05-26T19:17:04Z","merge_commit_sha":"701be74124c82848ae3a52df757fbdd7a9e20963","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/356/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/356/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/356/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/db57ace556432716a7651528108e8fcce2e58ffa","head":{"label":"tkvad:20150510203301","ref":"20150510203301","sha":"db57ace556432716a7651528108e8fcce2e58ffa","user":{"login":"tkvad","id":6440028,"avatar_url":"https://avatars.githubusercontent.com/u/6440028?v=3","gravatar_id":"","url":"https://api.github.com/users/tkvad","html_url":"https://github.com/tkvad","followers_url":"https://api.github.com/users/tkvad/followers","following_url":"https://api.github.com/users/tkvad/following{/other_user}","gists_url":"https://api.github.com/users/tkvad/gists{/gist_id}","starred_url":"https://api.github.com/users/tkvad/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tkvad/subscriptions","organizations_url":"https://api.github.com/users/tkvad/orgs","repos_url":"https://api.github.com/users/tkvad/repos","events_url":"https://api.github.com/users/tkvad/events{/privacy}","received_events_url":"https://api.github.com/users/tkvad/received_events","type":"User","site_admin":false},"repo":{"id":35386942,"name":"manifesto","full_name":"tkvad/manifesto","owner":{"login":"tkvad","id":6440028,"avatar_url":"https://avatars.githubusercontent.com/u/6440028?v=3","gravatar_id":"","url":"https://api.github.com/users/tkvad","html_url":"https://github.com/tkvad","followers_url":"https://api.github.com/users/tkvad/followers","following_url":"https://api.github.com/users/tkvad/following{/other_user}","gists_url":"https://api.github.com/users/tkvad/gists{/gist_id}","starred_url":"https://api.github.com/users/tkvad/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tkvad/subscriptions","organizations_url":"https://api.github.com/users/tkvad/orgs","repos_url":"https://api.github.com/users/tkvad/repos","events_url":"https://api.github.com/users/tkvad/events{/privacy}","received_events_url":"https://api.github.com/users/tkvad/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tkvad/manifesto","description":"A
        collaborative political manifesto","fork":true,"url":"https://api.github.com/repos/tkvad/manifesto","forks_url":"https://api.github.com/repos/tkvad/manifesto/forks","keys_url":"https://api.github.com/repos/tkvad/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tkvad/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tkvad/manifesto/teams","hooks_url":"https://api.github.com/repos/tkvad/manifesto/hooks","issue_events_url":"https://api.github.com/repos/tkvad/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/tkvad/manifesto/events","assignees_url":"https://api.github.com/repos/tkvad/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/tkvad/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/tkvad/manifesto/tags","blobs_url":"https://api.github.com/repos/tkvad/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tkvad/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tkvad/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/tkvad/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tkvad/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/tkvad/manifesto/languages","stargazers_url":"https://api.github.com/repos/tkvad/manifesto/stargazers","contributors_url":"https://api.github.com/repos/tkvad/manifesto/contributors","subscribers_url":"https://api.github.com/repos/tkvad/manifesto/subscribers","subscription_url":"https://api.github.com/repos/tkvad/manifesto/subscription","commits_url":"https://api.github.com/repos/tkvad/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/tkvad/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/tkvad/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/tkvad/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/tkvad/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/tkvad/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tkvad/manifesto/merges","archive_url":"https://api.github.com/repos/tkvad/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tkvad/manifesto/downloads","issues_url":"https://api.github.com/repos/tkvad/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/tkvad/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/tkvad/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/tkvad/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tkvad/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/tkvad/manifesto/releases{/id}","deployments_url":"https://api.github.com/repos/tkvad/manifesto/deployments","created_at":"2015-05-10T20:32:13Z","updated_at":"2015-05-10T20:32:13Z","pushed_at":"2015-05-10T20:33:02Z","git_url":"git://github.com/tkvad/manifesto.git","ssh_url":"git@github.com:tkvad/manifesto.git","clone_url":"https://github.com/tkvad/manifesto.git","svn_url":"https://github.com/tkvad/manifesto","homepage":"https://openpolitics.org.uk","size":1101,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"gh-pages"}},"base":{"label":"openpolitics:gh-pages","ref":"gh-pages","sha":"4f04150e955a9ba7c08f70e437b9b1ed601c446a","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/users/tkvad
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3644'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/356/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/356/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3641'
      X-Ratelimit-Reset:
      - '1469547316'
      Etag:
      - W/"d1d79ef302ae9ce6bcc42c670dd59989"
      Last-Modified:
      - Wed, 11 May 2016 19:18:12 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"db57ace556432716a7651528108e8fcce2e58ffa","commit":{"author":{"name":"tkvad","email":"dtalbot@rocketmail.com","date":"2015-05-10T20:33:01Z"},"committer":{"name":"tkvad","email":"dtalbot@rocketmail.com","date":"2015-05-10T20:33:01Z"},"message":"Tax
        treatment of industrial scientific and technical (engineering) research","tree":{"sha":"c8b936863425af8ba2c24dcefb0760078be9e300","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/c8b936863425af8ba2c24dcefb0760078be9e300"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/db57ace556432716a7651528108e8fcce2e58ffa","comment_count":0},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/db57ace556432716a7651528108e8fcce2e58ffa","html_url":"https://github.com/openpolitics/manifesto/commit/db57ace556432716a7651528108e8fcce2e58ffa","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/db57ace556432716a7651528108e8fcce2e58ffa/comments","author":{"login":"tkvad","id":6440028,"avatar_url":"https://avatars.githubusercontent.com/u/6440028?v=3","gravatar_id":"","url":"https://api.github.com/users[...]
- request:
    method: get
    uri: https://api.github.com/users/philipjohn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3640'
      X-Rateli[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/iconoclast86
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3638'
      X-Rate[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '3636'
      X-Ratelimit-[...]
[...]
