---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4309'
      X-Ratelimit-Reset:
      - '1467156516'
      Etag:
      - W/"ef09ea93c86790c645817617071cc2f2"
      Last-Modified:
      - Fri, 17 Jun 2016 09:50:47 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/135","id":13819496,"html_url":"https://github.com/openpolitics/manifesto/pull/135","diff_url":"https://github.com/openpolitics/manifesto/pull/135.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/135.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/135","number":135,"state":"closed","locked":false,"title":"Resist
        antidemocractic ISDS treaties","user":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false},"body":"","created_at":"2014-03-21T00:41:32Z","updated_at":"2014-06-30T07:03:52Z","closed_at":"2014-04-03T18:43:23Z","merged_at":"2014-04-03T18:43:23Z","merge_commit_sha":"19a3e2dc3a31a2a6514fcfc046c037c142a5f7fa","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/135/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/135/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/135/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe","head":{"label":"openpolitics:anti-isds","ref":"anti-isds","sha":"cf875cab11384f68c0034263ea10abe5d8c6cbfe","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"repo":{"id":11972085,"name":"manifesto","full_name":"openpolitics/manifesto","owner":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/openpolitics/manifesto","description":"A
        collaborative political manifesto","fork":false,"url":"https://api.github.com/repos/openpolitics/manifesto","forks_url":"https://api.github.com/repos/openpolitics/manifesto/forks","keys_url":"https://api.github.com/repos/openpolitics/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/openpolitics/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/openpolitics/manifesto/teams","hooks_url":"https://api.github.com/repos/openpolitics/manifesto/hooks","issue_events_url":"https://api.github.com/repos/openpolitics/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/openpolitics/manifesto/events","assignees_url":"https://api.github.com/repos/openpolitics/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/openpolitics/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/openpolitics/manifesto/tags","blobs_url":"https://api.github.com/repos/openpolitics/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/openpolitics/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/openpolitics/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/openpolitics/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/openpolitics/manifesto/languages","stargazers_url":"https://api.github.com/repos/openpolitics/manifesto/stargazers","contributors_url":"https://api.github.com/repos/openpolitics/manifesto/contributors","subscribers_url":"https://api.github.com/repos/openpolitics/manifesto/subscribers","subscription_url":"https://api.github.com/repos/openpolitics/manifesto/subscription","commits_url":"https://api.github.com/repos/openpolitics/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/openpolitics/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/openpolitics/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/openpolitics/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/openpolitics/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/openpolitics/manifesto/merges","archive_url":"https://api.github.com/repos/openpolitics/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/openpolitics/manifesto/downloads","issues_url":"https://api.github.com/repos/openpolitics/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/openpolitics/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/openpolitics/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/openpolitics/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/openpolitics/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/openpolitics/manifesto/releases{/id}","deployments_url":"https://api.github.com/repos/openpolitics/manifesto/deployments","created_at":"2013-08-08T08:56:40Z","updated_at":"2016-06-24T08:34:16Z","pushed_at":"2016-06-28T12:40:13Z","git_url":"git://github.com/openpolitics/manifesto.git","ssh_url":"git@github.com:openpolitics/manifesto.git","clone_url":"https://github.com/openpolitics/manifesto.git","svn_url":"https://github.com/openpolitics/manifesto","homepage":"http://openpolitics.org.uk","size":1213,"stargazers_count":70,"watchers_count":70,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":76,"mirror_url":null,"open_issues_count":34,"forks":76,"open_issues":34,"watchers":70,"default_branch":"master"}},"base":{"label":"openpolitics:gh-pages","ref":"gh-pages","sha":"81688346a301728636ea21b1b41c5a6b83534065","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/135/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/135/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4307'
      X-Ratelimit-Reset:
      - '1467156516'
      Etag:
      - W/"630fe7b333a5e875a614139d3cf06767"
      Last-Modified:
      - Fri, 17 Jun 2016 09:50:47 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"65a9d4663a363a333f87a14afc77bd5932828f35","commit":{"author":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2014-03-21T00:41:09Z"},"committer":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2014-03-21T00:41:09Z"},"message":"Resist
        antidemocractic ISDS treaties","tree":{"sha":"636cd42b4fe76cd8fc599653026300e27cbfbad9","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/636cd42b4fe76cd8fc599653026300e27cbfbad9"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/65a9d4663a363a333f87a14afc77bd5932828f35","comment_count":1},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/65a9d4663a363a333f87a14afc77bd5932828f35","html_url":"https://github.com/openpolitics/manifesto/commit/65a9d4663a363a333f87a14afc77bd5932828f35","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/65a9d4663a363a333f87a14afc77bd5932828f35/comments","author":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Flop[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/users/philipjohn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4305'
      X-Rateli[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4303'
      X-Ratelimit-[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/PaulJRobinson
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4301'
      X-Rat[...]
- request:
    method: post
    uri: https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe
    body:
      encoding: UTF-8
      string: '{"target_url":"http://votebot.openpolitics.org.uk/135","description":"The
        change is waiting for more votes; 1 more needed.","context":"votebot/votes","state":"pending"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4300'
      X-Ratelimit-Reset:
      - '1467156516'
      Etag:
      - '"75fee5cabd5f6b01a577b85ee6492aa7"'
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe","id":626994989,"state":"pending","description":"The
        change is waiting for more votes; 1 more needed.","target_url":"http://votebot.openpolitics.org.uk/135","context":"votebot/votes","created_at":"2016-06-28T23:10:55Z","updated_at":"2016-06-28T23:10:55Z","creator":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 28 Jun 2016 23:10:56 GMT
[...]
