---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1488206277'
      Etag:
      - W/"cef802d5772e98787e091df4380a2a4a"
      Last-Modified:
      - Sun, 19 Feb 2017 11:20:02 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false,"name":"James
        Smith","company":"The Open Data Institute","blog":"http://www.floppy.org.uk","location":"Horsham,
        UK","email":"james@floppy.org.uk","hireable":null,"bio":"Building a better
        future out of code. Head of Labs at @theodi, party leader of @SomethingNewUK,
        founder of @cleanweb-uk, and chair of @cdcssg. Neutral Good.","public_repos":85,"public_gists":9,"followers":85,"following":24,"created_at":"2008-03-21T17:05:23Z","updated_at":"2017-02-19T11:20:02Z"}'
  recorded_at: Mon, 27 Feb 2017 14:04:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/405
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1488206277'
      Etag:
      - W/"f175e19f19cc3384a87feeb2795f9590"
      Last-Modified:
      - Sun, 19 Feb 2017 11:20:02 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405","id":77680166,"html_url":"https://github.com/openpolitics/manifesto/pull/405","diff_url":"https://github.com/openpolitics/manifesto/pull/405.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/405.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/405","number":405,"state":"closed","locked":false,"title":"Introduce
        a \"right to health\"","user":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false},"body":"Make
        health a basic right for UK residents.\n\nThis right is intended as a fundamental
        underpinning for the NHS or equivalent system, and to make it part of the
        governments'' core duties to ensure the health of citizens.\n","created_at":"2016-07-15T21:21:13Z","updated_at":"2017-02-08T07:26:46Z","closed_at":"2016-07-24T13:55:08Z","merged_at":"2016-07-24T13:55:08Z","merge_commit_sha":"2855757047cb2a8be4df15934939d4361981b148","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/405/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","head":{"label":"openpolitics:20160715212113","ref":"20160715212113","sha":"b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"repo":{"id":11972085,"name":"manifesto","full_name":"openpolitics/manifesto","owner":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/openpolitics/manifesto","description":"A
        collaborative political manifesto","fork":false,"url":"https://api.github.com/repos/openpolitics/manifesto","forks_url":"https://api.github.com/repos/openpolitics/manifesto/forks","keys_url":"https://api.github.com/repos/openpolitics/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/openpolitics/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/openpolitics/manifesto/teams","hooks_url":"https://api.github.com/repos/openpolitics/manifesto/hooks","issue_events_url":"https://api.github.com/repos/openpolitics/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/openpolitics/manifesto/events","assignees_url":"https://api.github.com/repos/openpolitics/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/openpolitics/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/openpolitics/manifesto/tags","blobs_url":"https://api.github.com/repos/openpolitics/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/openpolitics/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/openpolitics/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/openpolitics/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/openpolitics/manifesto/languages","stargazers_url":"https://api.github.com/repos/openpolitics/manifesto/stargazers","contributors_url":"https://api.github.com/repos/openpolitics/manifesto/contributors","subscribers_url":"https://api.github.com/repos/openpolitics/manifesto/subscribers","subscription_url":"https://api.github.com/repos/openpolitics/manifesto/subscription","commits_url":"https://api.github.com/repos/openpolitics/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/openpolitics/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/openpolitics/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/openpolitics/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/openpolitics/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/openpolitics/manifesto/merges","archive_url":"https://api.github.com/repos/openpolitics/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/openpolitics/manifesto/downloads","issues_url":"https://api.github.com/repos/openpolitics/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/openpolitics/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/openpolitics/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/openpolitics/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/openpolitics/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/openpolitics/manifesto/releases{/id}","deployments_url":"https://api.github.com/repos/openpolitics/manifesto/deployments","created_at":"2013-08-08T08:56:40Z","updated_at":"2017-02-27T04:45:23Z","pushed_at":"2017-02-27T09:18:28Z","git_url":"git://github.com/openpolitics/manifesto.git","ssh_url":"git@github.com:openpolitics/manifesto.git","clone_url":"https://github.com/openpolitics/manifesto.git","svn_url":"https://github.com/openpolitics/manifesto","homepage":"http://openpolitics.org.uk","size":1159,"stargazers_count":75,"watchers_count":75,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":85,"mirror_url":null,"open_issues_count":48,"forks":85,"open_issues":48,"watchers":75,"default_branch":"master"}},"base":{"label":"openpolitics:master","ref":"master","sha":"7cd6ffd5bdb7092f46a233b941d03819411f9714","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/405/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/405/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1488206277'
      Etag:
      - W/"a8fcd7e6f8f751b0202bba59910ca327"
      Last-Modified:
      - Sun, 19 Feb 2017 11:20:02 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","commit":{"author":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2016-07-15T21:21:13Z"},"committer":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2016-07-15T21:21:13Z"},"message":"Introduce
        a \"right to health\"","tree":{"sha":"eceddcd6865d8c8e1d0f58931d897e917eb690ab","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/eceddcd6865d8c8e1d0f58931d897e917eb690ab"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","comment_count":0},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","html_url":"https://github.com/openpolitics/manifesto/commit/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd/comments","author":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Flop[...]
- request:
    method: get
    uri: https://api.github.com/users/philipjohn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Rateli[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/andrewdwilliams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-R[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/compare/7cd6ffd5bdb7092f46a233b941d03819411f9714...b383748a5eb0c98ddf1a030b0dda1ab2e25899bd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1488206277'
      Etag:
      - W/"826c478ba854cb5bdfad5e0a08e8793c"
      Last-Modified:
      - Fri, 15 Jul 2016 21:21:13 GMT
      X-Oauth-Scopes:
      - public_repo, repo:status, user:email, write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/compare/7cd6ffd5bdb7092f46a233b941d03819411f9714...b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","html_url":"https://github.com/openpolitics/manifesto/compare/7cd6ffd5bdb7092f46a233b941d03819411f9714...b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","permalink_url":"https://github.com/openpolitics/manifesto/compare/openpolitics:7cd6ffd...openpolitics:b383748","diff_url":"https://github.com/openpolitics/manifesto/compare/7cd6ffd5bdb7092f46a233b941d03819411f9714...b383748a5eb0c98ddf1a030b0dda1ab2e25899bd.diff","patch_url":"https://github.com/openpolitics/manifesto/compare/7cd6ffd5bdb7092f46a233b941d03819411f9714...b383748a5eb0c98ddf1a030b0dda1ab2e25899bd.patch","base_commit":{"sha":"7cd6ffd5bdb7092f46a233b941d03819411f9714","commit":{"author":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2016-07-15T21:11:52Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2016-07-15T21:11:52Z"},"message":"Merge
        pull request #387 from andrewdwilliams/patch-2\n\nOverseas Territories section
        update","tree":{"sha":"06ec21f2955102f848f148d57a929cb004b4c883","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/06ec2[...]
