---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Floppy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1470033541'
      Etag:
      - W/"22f0f7b8996b1cb6318ba4e34e773a5c"
      Last-Modified:
      - Fri, 22 Jul 2016 08:29:51 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false,"name":"James
        Smith","company":"The Open Data Institute","blog":"http://www.floppy.org.uk","location":"Horsham,
        UK","email":"james@floppy.org.uk","hireable":null,"bio":"Building a better
        future out of code. Head of Labs at @theodi, party leader of @SomethingNewUK,
        founder of @cleanweb-uk, and chair of @cdcssg. Neutral Good.","public_repos":76,"public_gists":9,"followers":77,"following":24,"created_at":"2008-03-21T17:05:23Z","updated_at":"2016-07-22T08:29:51Z"}'
  recorded_at: Mon, 01 Aug 2016 06:02:18 GMT
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/405
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1470033541'
      Etag:
      - W/"b863b3f46229e3b92ca3994c666ccc3f"
      Last-Modified:
      - Sun, 24 Jul 2016 13:55:09 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405","id":77680166,"html_url":"https://github.com/openpolitics/manifesto/pull/405","diff_url":"https://github.com/openpolitics/manifesto/pull/405.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/405.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/405","number":405,"state":"closed","locked":false,"title":"Introduce
        a \"right to health\"","user":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false},"body":"Make
        health a basic right for UK residents.\r\n\r\nThis right is intended as a
        fundamental underpinning for the NHS or equivalent system, and to make it
        part of the governments'' core duties to ensure the health of citizens.","created_at":"2016-07-15T21:21:13Z","updated_at":"2016-07-24T13:55:11Z","closed_at":"2016-07-24T13:55:08Z","merged_at":"2016-07-24T13:55:08Z","merge_commit_sha":"2855757047cb2a8be4df15934939d4361981b148","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/405/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/405/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","head":{"label":"openpolitics:20160715212113","ref":"20160715212113","sha":"b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"repo":{"id":11972085,"name":"manifesto","full_name":"openpolitics/manifesto","owner":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.github.com/users/openpolitics/gists{/gist_id}","starred_url":"https://api.github.com/users/openpolitics/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/openpolitics/subscriptions","organizations_url":"https://api.github.com/users/openpolitics/orgs","repos_url":"https://api.github.com/users/openpolitics/repos","events_url":"https://api.github.com/users/openpolitics/events{/privacy}","received_events_url":"https://api.github.com/users/openpolitics/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/openpolitics/manifesto","description":"A
        collaborative political manifesto","fork":false,"url":"https://api.github.com/repos/openpolitics/manifesto","forks_url":"https://api.github.com/repos/openpolitics/manifesto/forks","keys_url":"https://api.github.com/repos/openpolitics/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/openpolitics/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/openpolitics/manifesto/teams","hooks_url":"https://api.github.com/repos/openpolitics/manifesto/hooks","issue_events_url":"https://api.github.com/repos/openpolitics/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/openpolitics/manifesto/events","assignees_url":"https://api.github.com/repos/openpolitics/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/openpolitics/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/openpolitics/manifesto/tags","blobs_url":"https://api.github.com/repos/openpolitics/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/openpolitics/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/openpolitics/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/openpolitics/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/openpolitics/manifesto/languages","stargazers_url":"https://api.github.com/repos/openpolitics/manifesto/stargazers","contributors_url":"https://api.github.com/repos/openpolitics/manifesto/contributors","subscribers_url":"https://api.github.com/repos/openpolitics/manifesto/subscribers","subscription_url":"https://api.github.com/repos/openpolitics/manifesto/subscription","commits_url":"https://api.github.com/repos/openpolitics/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/openpolitics/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/openpolitics/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/openpolitics/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/openpolitics/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/openpolitics/manifesto/merges","archive_url":"https://api.github.com/repos/openpolitics/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/openpolitics/manifesto/downloads","issues_url":"https://api.github.com/repos/openpolitics/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/openpolitics/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/openpolitics/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/openpolitics/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/openpolitics/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/openpolitics/manifesto/releases{/id}","deployments_url":"https://api.github.com/repos/openpolitics/manifesto/deployments","created_at":"2013-08-08T08:56:40Z","updated_at":"2016-06-24T08:34:16Z","pushed_at":"2016-07-24T13:55:10Z","git_url":"git://github.com/openpolitics/manifesto.git","ssh_url":"git@github.com:openpolitics/manifesto.git","clone_url":"https://github.com/openpolitics/manifesto.git","svn_url":"https://github.com/openpolitics/manifesto","homepage":"http://openpolitics.org.uk","size":1244,"stargazers_count":70,"watchers_count":70,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":78,"mirror_url":null,"open_issues_count":41,"forks":78,"open_issues":41,"watchers":70,"default_branch":"master"}},"base":{"label":"openpolitics:master","ref":"master","sha":"7cd6ffd5bdb7092f46a233b941d03819411f9714","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/405/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/405/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1470033541'
      Etag:
      - W/"31344251494f2f832f1988ce2fa3cb72"
      Last-Modified:
      - Sun, 24 Jul 2016 13:55:09 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","commit":{"author":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2016-07-15T21:21:13Z"},"committer":{"name":"James
        Smith","email":"james@floppy.org.uk","date":"2016-07-15T21:21:13Z"},"message":"Introduce
        a \"right to health\"","tree":{"sha":"eceddcd6865d8c8e1d0f58931d897e917eb690ab","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/eceddcd6865d8c8e1d0f58931d897e917eb690ab"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","comment_count":0},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","html_url":"https://github.com/openpolitics/manifesto/commit/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/b383748a5eb0c98ddf1a030b0dda1ab2e25899bd/comments","author":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Flop[...]
- request:
    method: get
    uri: https://api.github.com/users/philipjohn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Rateli[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/andrewdwilliams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-R[...]
[...]
