<html>
  <head>
    <title>OpenPolitics Votebot</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <style>
       body {
         padding-top: 50px;
       }
     </style>
  </head>
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OpenPolitics Votebot</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://openpolitics.org.uk/manifesto">Manifesto</a></li>
            </ul>
          </div>
        </div>
      </div>
    
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>