table.vote-list td.proposer img {
  height: 24px;
}

div.proposer img {
  height: 48px;
}

.panel-heading img, th img {
  height: 24px;
}

div.agree .panel-body img, div.disagree .panel-body img, div.abstain .panel-body img {
  height: 48px;
}

div.agree .panel-body, div.disagree .panel-body, div.abstain .panel-body {
  min-height: 150px;
}