---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/100?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
      X-Ratelimit-Reset:
      - '1395398495'
      Last-Modified:
      - Fri, 21 Mar 2014 09:29:33 GMT
      Etag:
      - "\"9be53e06c8b73b3932148451b4b01273\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/100\",\"id\":12512097,\"html_url\":\"https://github.com/openpolitics/manifesto/pull/100\",\"diff_url\":\"https://github.com/openpolitics/manifesto/pull/100.diff\",\"patch_url\":\"https://github.com/openpolitics/manifesto/pull/100.patch\",\"issue_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/100\",\"number\":100,\"state\":\"open\",\"title\":\"Move
        from Closed Party Lists to STV for European Elections\",\"user\":{\"login\":\"PaulJRobinson\",\"id\":4026234,\"avatar_url\":\"https://avatars.githubusercontent.com/u/4026234?\",\"gravatar_id\":\"c65ff1e22e2481b7410dfdc90649310d\",\"url\":\"https://api.github.com/users/PaulJRobinson\",\"html_url\":\"https://github.com/PaulJRobinson\",\"followers_url\":\"https://api.github.com/users/PaulJRobinson/followers\",\"following_url\":\"https://api.github.com/users/PaulJRobinson/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/PaulJRobinson/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/PaulJRobinson/subscriptions\",\"organizations_url\":\"https://api.github.com/users/PaulJRobinson/orgs\",\"repos_url\":\"https://api.github.com/users/PaulJRobinson/repos\",\"events_url\":\"https://api.github.com/users/PaulJRobinson/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/PaulJRobinson/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"This
        pull request has been automatically generated by prose.io.\",\"created_at\":\"2014-02-13T14:44:26Z\",\"updated_at\":\"2014-03-21T09:29:33Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"01adc13bf5070ad9da73076c056dab9841e90fdc\",\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/100/commits\",\"review_comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/100/comments\",\"review_comment_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/comments/{number}\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/100/comments\",\"statuses_url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"head\":{\"label\":\"PaulJRobinson:prose-patch-29\",\"ref\":\"prose-patch-29\",\"sha\":\"918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"user\":{\"login\":\"PaulJRobinson\",\"id\":4026234,\"avatar_url\":\"https://avatars.githubusercontent.com/u/4026234?\",\"gravatar_id\":\"c65ff1e22e2481b7410dfdc90649310d\",\"url\":\"https://api.github.com/users/PaulJRobinson\",\"html_url\":\"https://github.com/PaulJRobinson\",\"followers_url\":\"https://api.github.com/users/PaulJRobinson/followers\",\"following_url\":\"https://api.github.com/users/PaulJRobinson/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/PaulJRobinson/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/PaulJRobinson/subscriptions\",\"organizations_url\":\"https://api.github.com/users/PaulJRobinson/orgs\",\"repos_url\":\"https://api.github.com/users/PaulJRobinson/repos\",\"events_url\":\"https://api.github.com/users/PaulJRobinson/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/PaulJRobinson/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":12469899,\"name\":\"manifesto\",\"full_name\":\"PaulJRobinson/manifesto\",\"owner\":{\"login\":\"PaulJRobinson\",\"id\":4026234,\"avatar_url\":\"https://avatars.githubusercontent.com/u/4026234?\",\"gravatar_id\":\"c65ff1e22e2481b7410dfdc90649310d\",\"url\":\"https://api.github.com/users/PaulJRobinson\",\"html_url\":\"https://github.com/PaulJRobinson\",\"followers_url\":\"https://api.github.com/users/PaulJRobinson/followers\",\"following_url\":\"https://api.github.com/users/PaulJRobinson/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/PaulJRobinson/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/PaulJRobinson/subscriptions\",\"organizations_url\":\"https://api.github.com/users/PaulJRobinson/orgs\",\"repos_url\":\"https://api.github.com/users/PaulJRobinson/repos\",\"events_url\":\"https://api.github.com/users/PaulJRobinson/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/PaulJRobinson/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/PaulJRobinson/manifesto\",\"description\":\"A
        collaborative political manifesto\",\"fork\":true,\"url\":\"https://api.github.com/repos/PaulJRobinson/manifesto\",\"forks_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/forks\",\"keys_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/teams\",\"hooks_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/hooks\",\"issue_events_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/events\",\"assignees_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/tags\",\"blobs_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/languages\",\"stargazers_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/stargazers\",\"contributors_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/contributors\",\"subscribers_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/subscribers\",\"subscription_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/subscription\",\"commits_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/merges\",\"archive_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/downloads\",\"issues_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/PaulJRobinson/manifesto/releases{/id}\",\"created_at\":\"2013-08-29T20:04:02Z\",\"updated_at\":\"2014-03-20T21:29:46Z\",\"pushed_at\":\"2014-03-20T20:35:47Z\",\"git_url\":\"git://github.com/PaulJRobinson/manifesto.git\",\"ssh_url\":\"git@github.com:PaulJRobinson/manifesto.git\",\"clone_url\":\"https://github.com/PaulJRobinson/manifesto.git\",\"svn_url\":\"https://github.com/PaulJRobinson/manifesto\",\"homepage\":\"http://openpolitics.github.io/manifesto\",\"size\":1100,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":false,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"gh-pages\",\"master_branch\":\"gh-pages\"}},\"base\":{\"label\":\"openpolitics:gh-pages\",\"ref\":\"gh-pages\",\"sha\":\"9eea105a273499b274d69c1f24ad83c2ff9b2d9f\",\"user\":{\"login\":\"openpolitics\",\"id\":5188717,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5188717?\",\"gravatar_id\":\"73f0882a7113d5e8b0f71a2d2ed4dd56\",\"url\":\"https://api.github.com/users/openpolitics\",\"html_url\":\"https://github.com/openpolitics\",\"followers_url\":\"https://api.github.com/users/openpolitics/followers\",\"following_url\":\"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/100/comments?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
[...]
- request:
    method: post
    uri: https://api.github.com/repos/openpolitics/manifesto/statuses/918bcbafc762b88fb56a3d5748ff4a87f22a63f6?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"state\":\"pending\",\"target_url\":\"http://votebot.openpolitics.org.uk/100\",\"description\":\"The
        change is waiting for more votes\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
      X-Ratelimit-Reset:
      - '1395398495'
      Etag:
      - "\"e2301e0d2018ad3af04511c20f2ddad5\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/openpolitics/manifesto/statuses/918bcbafc762b88fb56a3d5748ff4a87f22a63f6
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"id\":47924688,\"state\":\"pending\",\"description\":\"The
        change is waiting for more votes\",\"target_url\":\"http://votebot.openpolitics.org.uk/100\",\"creator\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://avatars.githubusercontent.com/u/3565?\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2014-03-21T09:54:46Z\",\"updated_at\":\"2014-03-21T09:54:46Z\"}"
  recorded_at: Fri, 21 Mar 2014 09:54:47 GMT
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/commits/918bcbafc762b88fb56a3d5748ff4a87f22a63f6?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4828'
      X-Ratelimit-Reset:
      - '1396475243'
      Last-Modified:
      - Thu, 13 Feb 2014 14:47:03 GMT
      Etag:
      - "\"06b046a279ae1cb2499acacae8a823bf\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"commit\":{\"author\":{\"name\":\"Paul
        Robinson\",\"email\":\"robinson.pauljames@gmail.com\",\"date\":\"2014-02-13T14:47:03Z\"},\"committer\":{\"name\":\"Paul
        Robinson\",\"email\":\"robinson.pauljames@gmail.com\",\"date\":\"2014-02-13T14:47:03Z\"},\"message\":\"Update
        democracy.md\",\"tree\":{\"sha\":\"68c30b399629ddaec520056d8a8cdb60e1e3c2d3\",\"url\":\"https://api.github.com/repos/openpolitics/manifesto/git/trees/68c30b399629ddaec520056d8a8cdb60e1e3c2d3\"},\"url\":\"https://api.github.com/repos/openpolitics/manifesto/git/commits/918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/openpolitics/manifesto/commits/918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"html_url\":\"https://github.com/openpolitics/manifesto/commit/918bcbafc762b88fb56a3d5748ff4a87f22a63f6\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/commits/918bcbafc762b88fb56a3d5748ff4a87f22a63f6/comments\",\"author\":{\"login\":\"PaulJRobinson\",\"id\":4026234,\"avatar_url\":\"https://avatars.githubusercontent.com/u/4026234?\",\"gravatar_id\":\"c65ff[...]
