---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/135?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4438'
      X-Ratelimit-Reset:
      - '1396471642'
      Last-Modified:
      - Wed, 02 Apr 2014 20:40:12 GMT
      Etag:
      - "\"66ace6b29e475ed48bb1879ff52cc1fe\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/135\",\"id\":13819496,\"html_url\":\"https://github.com/openpolitics/manifesto/pull/135\",\"diff_url\":\"https://github.com/openpolitics/manifesto/pull/135.diff\",\"patch_url\":\"https://github.com/openpolitics/manifesto/pull/135.patch\",\"issue_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/135\",\"number\":135,\"state\":\"open\",\"title\":\"Resist
        antidemocractic ISDS treaties\",\"user\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://avatars.githubusercontent.com/u/3565?\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2014-03-21T00:41:32Z\",\"updated_at\":\"2014-04-02T20:40:12Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"19a3e2dc3a31a2a6514fcfc046c037c142a5f7fa\",\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/135/commits\",\"review_comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/135/comments\",\"review_comment_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/comments/{number}\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/135/comments\",\"statuses_url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"head\":{\"label\":\"openpolitics:anti-isds\",\"ref\":\"anti-isds\",\"sha\":\"cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"user\":{\"login\":\"openpolitics\",\"id\":5188717,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5188717?\",\"gravatar_id\":\"73f0882a7113d5e8b0f71a2d2ed4dd56\",\"url\":\"https://api.github.com/users/openpolitics\",\"html_url\":\"https://github.com/openpolitics\",\"followers_url\":\"https://api.github.com/users/openpolitics/followers\",\"following_url\":\"https://api.github.com/users/openpolitics/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/openpolitics/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/openpolitics/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/openpolitics/subscriptions\",\"organizations_url\":\"https://api.github.com/users/openpolitics/orgs\",\"repos_url\":\"https://api.github.com/users/openpolitics/repos\",\"events_url\":\"https://api.github.com/users/openpolitics/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/openpolitics/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"repo\":{\"id\":11972085,\"name\":\"manifesto\",\"full_name\":\"openpolitics/manifesto\",\"owner\":{\"login\":\"openpolitics\",\"id\":5188717,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5188717?\",\"gravatar_id\":\"73f0882a7113d5e8b0f71a2d2ed4dd56\",\"url\":\"https://api.github.com/users/openpolitics\",\"html_url\":\"https://github.com/openpolitics\",\"followers_url\":\"https://api.github.com/users/openpolitics/followers\",\"following_url\":\"https://api.github.com/users/openpolitics/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/openpolitics/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/openpolitics/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/openpolitics/subscriptions\",\"organizations_url\":\"https://api.github.com/users/openpolitics/orgs\",\"repos_url\":\"https://api.github.com/users/openpolitics/repos\",\"events_url\":\"https://api.github.com/users/openpolitics/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/openpolitics/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/openpolitics/manifesto\",\"description\":\"A
        collaborative political manifesto\",\"fork\":false,\"url\":\"https://api.github.com/repos/openpolitics/manifesto\",\"forks_url\":\"https://api.github.com/repos/openpolitics/manifesto/forks\",\"keys_url\":\"https://api.github.com/repos/openpolitics/manifesto/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/openpolitics/manifesto/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/openpolitics/manifesto/teams\",\"hooks_url\":\"https://api.github.com/repos/openpolitics/manifesto/hooks\",\"issue_events_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/openpolitics/manifesto/events\",\"assignees_url\":\"https://api.github.com/repos/openpolitics/manifesto/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/openpolitics/manifesto/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/openpolitics/manifesto/tags\",\"blobs_url\":\"https://api.github.com/repos/openpolitics/manifesto/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/openpolitics/manifesto/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/openpolitics/manifesto/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/openpolitics/manifesto/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/openpolitics/manifesto/languages\",\"stargazers_url\":\"https://api.github.com/repos/openpolitics/manifesto/stargazers\",\"contributors_url\":\"https://api.github.com/repos/openpolitics/manifesto/contributors\",\"subscribers_url\":\"https://api.github.com/repos/openpolitics/manifesto/subscribers\",\"subscription_url\":\"https://api.github.com/repos/openpolitics/manifesto/subscription\",\"commits_url\":\"https://api.github.com/repos/openpolitics/manifesto/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/openpolitics/manifesto/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/openpolitics/manifesto/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/openpolitics/manifesto/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/openpolitics/manifesto/merges\",\"archive_url\":\"https://api.github.com/repos/openpolitics/manifesto/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/openpolitics/manifesto/downloads\",\"issues_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/openpolitics/manifesto/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/openpolitics/manifesto/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/openpolitics/manifesto/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/openpolitics/manifesto/releases{/id}\",\"created_at\":\"2013-08-08T08:56:40Z\",\"updated_at\":\"2014-04-02T20:39:29Z\",\"pushed_at\":\"2014-04-02T20:39:30Z\",\"git_url\":\"git://github.com/openpolitics/manifesto.git\",\"ssh_url\":\"git@github.com:openpolitics/manifesto.git\",\"clone_url\":\"https://github.com/openpolitics/manifesto.git\",\"svn_url\":\"https://github.com/openpolitics/manifesto\",\"homepage\":\"http://openpolitics.org.uk\",\"size\":3538,\"stargazers_count\":17,\"watchers_count\":17,\"language\":\"JavaScript\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":false,\"forks_count\":18,\"mirror_url\":null,\"open_issues_count\":31,\"forks\":18,\"open_issues\":31,\"watchers\":17,\"default_branch\":\"gh-pages\",\"master_branch\":\"gh-pages\"}},\"base\":{\"label\":\"openpolitics:gh-pages\",\"ref\":\"gh-pages\",\"sha\":\"81688346a301728636ea21b1b41c5a6b83534065\",\"user\":{\"login\":\"openpolitics\",\"id\":5188717,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5188717?\",\"gravatar_id\":\"73f0882a7113d5e8b0f71a2d2ed4dd56\",\"url\":\"https://api.github.com/users/openpolitics\",\"html_url\":\"https://github.com/openpolitics\",\"followers_url\":\"https://api.github.com/users/openpolitics/followers\",\"following_url\":\"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/135/comments?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
[...]
- request:
    method: post
    uri: https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"state\":\"pending\",\"target_url\":\"http://votebot.openpolitics.org.uk/135\",\"description\":\"The
        change is waiting for more votes\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4436'
      X-Ratelimit-Reset:
      - '1396471642'
      Etag:
      - "\"3a9a9d075c58bb9bfe44b4d8f9053209\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"id\":50818565,\"state\":\"pending\",\"description\":\"The
        change is waiting for more votes\",\"target_url\":\"http://votebot.openpolitics.org.uk/135\",\"created_at\":\"2014-04-02T20:42:51Z\",\"updated_at\":\"2014-04-02T20:42:51Z\",\"creator\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://avatars.githubusercontent.com/u/3565?\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false}}"
  recorded_at: Wed, 02 Apr 2014 20:42:51 GMT
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/commits/cf875cab11384f68c0034263ea10abe5d8c6cbfe?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4843'
      X-Ratelimit-Reset:
      - '1396475243'
      Last-Modified:
      - Wed, 02 Apr 2014 20:39:24 GMT
      Etag:
      - "\"cfd56051f5ba2b9304bcd1c67a8c4c98\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"commit\":{\"author\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-04-02T20:39:24Z\"},\"committer\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-04-02T20:39:24Z\"},\"message\":\"Redrafted
        ISDS section\",\"tree\":{\"sha\":\"41bdb71f90aaa912f90152a8f3fc55747ede827f\",\"url\":\"https://api.github.com/repos/openpolitics/manifesto/git/trees/41bdb71f90aaa912f90152a8f3fc55747ede827f\"},\"url\":\"https://api.github.com/repos/openpolitics/manifesto/git/commits/cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/openpolitics/manifesto/commits/cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"html_url\":\"https://github.com/openpolitics/manifesto/commit/cf875cab11384f68c0034263ea10abe5d8c6cbfe\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/commits/cf875cab11384f68c0034263ea10abe5d8c6cbfe/comments\",\"author\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://avatars.githubusercontent.com/u/3565?\",\"gravatar_id\":\"c150a49c7709fa40bf[...]
