---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/100?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4802'
      X-Ratelimit-Reset:
      - '1425984985'
      Last-Modified:
      - Sun, 08 Mar 2015 20:59:40 GMT
      Etag:
      - W/"de73725d0ba1479b1897cc762208a4ec"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/100","id":12512097,"html_url":"https://github.com/openpolitics/manifesto/pull/100","diff_url":"https://github.com/openpolitics/manifesto/pull/100.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/100.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/100","number":100,"state":"closed","locked":false,"title":"Move
        from Closed Party Lists to STV for European Elections","user":{"login":"PaulJRobinson","id":4026234,"avatar_url":"https://avatars.githubusercontent.com/u/4026234?v=3","gravatar_id":"","url":"https://api.github.com/users/PaulJRobinson","html_url":"https://github.com/PaulJRobinson","followers_url":"https://api.github.com/users/PaulJRobinson/followers","following_url":"https://api.github.com/users/PaulJRobinson/following{/other_user}","gists_url":"https://api.github.com/users/PaulJRobinson/gists{/gist_id}","starred_url":"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PaulJRobinson/subscriptions","organizations_url":"https://api.github.com/users/PaulJRobinson/orgs","repos_url":"https://api.github.com/users/PaulJRobinson/repos","events_url":"https://api.github.com/users/PaulJRobinson/events{/privacy}","received_events_url":"https://api.github.com/users/PaulJRobinson/received_events","type":"User","site_admin":false},"body":"This
        pull request has been automatically generated by prose.io.","created_at":"2014-02-13T14:44:26Z","updated_at":"2014-06-19T15:14:34Z","closed_at":"2014-04-10T18:39:54Z","merged_at":"2014-04-10T18:39:54Z","merge_commit_sha":"01adc13bf5070ad9da73076c056dab9841e90fdc","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/100/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/100/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/100/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/4eaf56d97b35d8d6693688c96c837b8aebd61300","head":{"label":"PaulJRobinson:prose-patch-29","ref":"prose-patch-29","sha":"4eaf56d97b35d8d6693688c96c837b8aebd61300","user":{"login":"PaulJRobinson","id":4026234,"avatar_url":"https://avatars.githubusercontent.com/u/4026234?v=3","gravatar_id":"","url":"https://api.github.com/users/PaulJRobinson","html_url":"https://github.com/PaulJRobinson","followers_url":"https://api.github.com/users/PaulJRobinson/followers","following_url":"https://api.github.com/users/PaulJRobinson/following{/other_user}","gists_url":"https://api.github.com/users/PaulJRobinson/gists{/gist_id}","starred_url":"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PaulJRobinson/subscriptions","organizations_url":"https://api.github.com/users/PaulJRobinson/orgs","repos_url":"https://api.github.com/users/PaulJRobinson/repos","events_url":"https://api.github.com/users/PaulJRobinson/events{/privacy}","received_events_url":"https://api.github.com/users/PaulJRobinson/received_events","type":"User","site_admin":false},"repo":{"id":12469899,"name":"manifesto","full_name":"PaulJRobinson/manifesto","owner":{"login":"PaulJRobinson","id":4026234,"avatar_url":"https://avatars.githubusercontent.com/u/4026234?v=3","gravatar_id":"","url":"https://api.github.com/users/PaulJRobinson","html_url":"https://github.com/PaulJRobinson","followers_url":"https://api.github.com/users/PaulJRobinson/followers","following_url":"https://api.github.com/users/PaulJRobinson/following{/other_user}","gists_url":"https://api.github.com/users/PaulJRobinson/gists{/gist_id}","starred_url":"https://api.github.com/users/PaulJRobinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/PaulJRobinson/subscriptions","organizations_url":"https://api.github.com/users/PaulJRobinson/orgs","repos_url":"https://api.github.com/users/PaulJRobinson/repos","events_url":"https://api.github.com/users/PaulJRobinson/events{/privacy}","received_events_url":"https://api.github.com/users/PaulJRobinson/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/PaulJRobinson/manifesto","description":"A
        collaborative political manifesto","fork":true,"url":"https://api.github.com/repos/PaulJRobinson/manifesto","forks_url":"https://api.github.com/repos/PaulJRobinson/manifesto/forks","keys_url":"https://api.github.com/repos/PaulJRobinson/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/PaulJRobinson/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/PaulJRobinson/manifesto/teams","hooks_url":"https://api.github.com/repos/PaulJRobinson/manifesto/hooks","issue_events_url":"https://api.github.com/repos/PaulJRobinson/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/PaulJRobinson/manifesto/events","assignees_url":"https://api.github.com/repos/PaulJRobinson/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/PaulJRobinson/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/PaulJRobinson/manifesto/tags","blobs_url":"https://api.github.com/repos/PaulJRobinson/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/PaulJRobinson/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/PaulJRobinson/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/PaulJRobinson/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/PaulJRobinson/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/PaulJRobinson/manifesto/languages","stargazers_url":"https://api.github.com/repos/PaulJRobinson/manifesto/stargazers","contributors_url":"https://api.github.com/repos/PaulJRobinson/manifesto/contributors","subscribers_url":"https://api.github.com/repos/PaulJRobinson/manifesto/subscribers","subscription_url":"https://api.github.com/repos/PaulJRobinson/manifesto/subscription","commits_url":"https://api.github.com/repos/PaulJRobinson/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/PaulJRobinson/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/PaulJRobinson/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/PaulJRobinson/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/PaulJRobinson/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/PaulJRobinson/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/PaulJRobinson/manifesto/merges","archive_url":"https://api.github.com/repos/PaulJRobinson/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/PaulJRobinson/manifesto/downloads","issues_url":"https://api.github.com/repos/PaulJRobinson/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/PaulJRobinson/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/PaulJRobinson/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/PaulJRobinson/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/PaulJRobinson/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/PaulJRobinson/manifesto/releases{/id}","created_at":"2013-08-29T20:04:02Z","updated_at":"2014-05-01T09:03:24Z","pushed_at":"2014-10-13T09:40:27Z","git_url":"git://github.com/PaulJRobinson/manifesto.git","ssh_url":"git@github.com:PaulJRobinson/manifesto.git","clone_url":"https://github.com/PaulJRobinson/manifesto.git","svn_url":"https://github.com/PaulJRobinson/manifesto","homepage":"http://openpolitics.github.io/manifesto","size":1547,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"gh-pages"}},"base":{"label":"openpolitics:gh-pages","ref":"gh-pages","sha":"9eea105a273499b274d69c1f24ad83c2ff9b2d9f","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/100/comments?access_token=<GITHUB_OAUTH_TOKEN>&auto_paginate=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ra[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/commits/4eaf56d97b35d8d6693688c96c837b8aebd61300?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4800'
      X-Ratelimit-Reset:
      - '1425984985'
      Last-Modified:
      - Mon, 07 Apr 2014 09:39:31 GMT
      Etag:
      - W/"70f65e62743752f568d6701754adbc96"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"4eaf56d97b35d8d6693688c96c837b8aebd61300","commit":{"author":{"name":"Paul
        Robinson","email":"robinson.pauljames@gmail.com","date":"2014-04-07T09:39:31Z"},"committer":{"name":"Paul
        Robinson","email":"robinson.pauljames@gmail.com","date":"2014-04-07T09:39:31Z"},"message":"Open
        Party List for EU Elections","tree":{"sha":"3b397aa65d1c01df0f5be8dfa0419e420410af26","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/3b397aa65d1c01df0f5be8dfa0419e420410af26"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/4eaf56d97b35d8d6693688c96c837b8aebd61300","comment_count":0},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/4eaf56d97b35d8d6693688c96c837b8aebd61300","html_url":"https://github.com/openpolitics/manifesto/commit/4eaf56d97b35d8d6693688c96c837b8aebd61300","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/4eaf56d97b35d8d6693688c96c837b8aebd61300/comments","author":{"login":"PaulJRobinson","id":4026234,"avatar_url":"https://avatars.githubusercontent.com/u/4026234?v=3","gravatar_id":"","url":"https://api.github.c[...]
- request:
    method: get
    uri: https://github.com/openpolitics/manifesto/graphs/contributors-data
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"author":{"login":"dracos","avatar":"https://avatars0.githubusercontent.com/u/154364?v=3&s=60"},"total":1,"weeks":[{"w":1375574400,"a":0,"d":0,"c":0},{"w":1376179200,"a":0,"d":0,"c":0},{"w":1376784000,"a":0,"d":0,"c":0},{"w":1377388800,"a":0,"d":0,"c":0},{"w":1377993600,"a":0,"d":0,"c":0},{"w":1378598400,"a":0,"d":0,"c":0},{"w":1379203200,"a":0,"d":0,"c":0},{"w":1379808000,"a":0,"d":0,"c":0},{"w":1380412800,"a":0,"d":0,"c":0},{"w":1381017600,"a":0,"d":0,"c":0},{"w":1381622400,"a":0,"d":0,"c":0},{"w":1382227200,"a":0,"d":0,"c":0},{"w":1382832000,"a":0,"d":0,"c":0},{"w":1383436800,"a":0,"d":0,"c":0},{"w":1384[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/openpolitics/manifesto/statuses/4eaf56d97b35d8d6693688c96c837b8aebd61300?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: '{"state":"success","target_url":"http://votebot.openpolitics.org.uk/100","description":"The
        change is agreed.","context":"votebot/votes"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4799'
      X-Ratelimit-Reset:
      - '1425984985'
      Etag:
      - '"801b811b3a375a93982f99fb791378b8"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/openpolitics/manifesto/statuses/4eaf56d97b35d8d6693688c96c837b8aebd61300
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/statuses/4eaf56d97b35d8d6693688c96c837b8aebd61300","id":180031211,"state":"success","description":"The
        change is agreed.","target_url":"http://votebot.openpolitics.org.uk/100","context":"votebot/votes","required":false,"created_at":"2015-03-10T10:45:45Z","updated_at":"2015-03-10T10:45:45Z","creator":{"login":"Floppy","id":3565,"avatar_url":"https://avatars.githubusercontent.com/u/3565?v=3","gravatar_id":"","url":"https://api.github.com/users/Floppy","html_url":"https://github.com/Floppy","followers_url":"https://api.github.com/users/Floppy/followers","following_url":"https://api.github.com/users/Floppy/following{/other_user}","gists_url":"https://api.github.com/users/Floppy/gists{/gist_id}","starred_url":"https://api.github.com/users/Floppy/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Floppy/subscriptions","organizations_url":"https://api.github.com/users/Floppy/orgs","repos_url":"https://api.github.com/users/Floppy/repos","events_url":"https://api.github.com/users/Floppy/events{/privacy}","received_events_url":"https://api.github.com/users/Floppy/received_events","type":"User","site_admin":false}}'
  recorded_at: Tue, 10 Mar 2015 10:45:45 GMT
[...]
