---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/74?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4927'
      X-Ratelimit-Reset:
      - '1395402094'
      Last-Modified:
      - Thu, 20 Mar 2014 20:02:52 GMT
      Etag:
      - "\"ccc83e5336ed93782dca59618142676f\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/74\",\"id\":11466165,\"html_url\":\"https://github.com/openpolitics/manifesto/pull/74\",\"diff_url\":\"https://github.com/openpolitics/manifesto/pull/74.diff\",\"patch_url\":\"https://github.com/openpolitics/manifesto/pull/74.patch\",\"issue_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/74\",\"number\":74,\"state\":\"open\",\"title\":\"Local
        democracy proposal\",\"user\":{\"login\":\"philipjohn\",\"id\":136342,\"avatar_url\":\"https://avatars.githubusercontent.com/u/136342?\",\"gravatar_id\":\"c69525bb0df6c234216b9e2aa32f7727\",\"url\":\"https://api.github.com/users/philipjohn\",\"html_url\":\"https://github.com/philipjohn\",\"followers_url\":\"https://api.github.com/users/philipjohn/followers\",\"following_url\":\"https://api.github.com/users/philipjohn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/philipjohn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/philipjohn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/philipjohn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/philipjohn/orgs\",\"repos_url\":\"https://api.github.com/users/philipjohn/repos\",\"events_url\":\"https://api.github.com/users/philipjohn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/philipjohn/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2014-01-13T20:04:05Z\",\"updated_at\":\"2014-01-14T18:25:30Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"1cff584f2c33a8c18263667b0ac5733500ed7c91\",\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/74/commits\",\"review_comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/74/comments\",\"review_comment_url\":\"https://api.github.com/repos/openpolitics/manifesto/pulls/comments/{number}\",\"comments_url\":\"https://api.github.com/repos/openpolitics/manifesto/issues/74/comments\",\"statuses_url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/d269c658ed6d056dfa71ed47e28fbdc44c3c6b01\",\"head\":{\"label\":\"philipjohn:local-democracy\",\"ref\":\"local-democracy\",\"sha\":\"d269c658ed6d056dfa71ed47e28fbdc44c3c6b01\",\"user\":{\"login\":\"philipjohn\",\"id\":136342,\"avatar_url\":\"https://avatars.githubusercontent.com/u/136342?\",\"gravatar_id\":\"c69525bb0df6c234216b9e2aa32f7727\",\"url\":\"https://api.github.com/users/philipjohn\",\"html_url\":\"https://github.com/philipjohn\",\"followers_url\":\"https://api.github.com/users/philipjohn/followers\",\"following_url\":\"https://api.github.com/users/philipjohn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/philipjohn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/philipjohn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/philipjohn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/philipjohn/orgs\",\"repos_url\":\"https://api.github.com/users/philipjohn/repos\",\"events_url\":\"https://api.github.com/users/philipjohn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/philipjohn/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":15680750,\"name\":\"manifesto\",\"full_name\":\"philipjohn/manifesto\",\"owner\":{\"login\":\"philipjohn\",\"id\":136342,\"avatar_url\":\"https://avatars.githubusercontent.com/u/136342?\",\"gravatar_id\":\"c69525bb0df6c234216b9e2aa32f7727\",\"url\":\"https://api.github.com/users/philipjohn\",\"html_url\":\"https://github.com/philipjohn\",\"followers_url\":\"https://api.github.com/users/philipjohn/followers\",\"following_url\":\"https://api.github.com/users/philipjohn/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/philipjohn/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/philipjohn/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/philipjohn/subscriptions\",\"organizations_url\":\"https://api.github.com/users/philipjohn/orgs\",\"repos_url\":\"https://api.github.com/users/philipjohn/repos\",\"events_url\":\"https://api.github.com/users/philipjohn/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/philipjohn/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/philipjohn/manifesto\",\"description\":\"A
        collaborative political manifesto\",\"fork\":true,\"url\":\"https://api.github.com/repos/philipjohn/manifesto\",\"forks_url\":\"https://api.github.com/repos/philipjohn/manifesto/forks\",\"keys_url\":\"https://api.github.com/repos/philipjohn/manifesto/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/philipjohn/manifesto/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/philipjohn/manifesto/teams\",\"hooks_url\":\"https://api.github.com/repos/philipjohn/manifesto/hooks\",\"issue_events_url\":\"https://api.github.com/repos/philipjohn/manifesto/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/philipjohn/manifesto/events\",\"assignees_url\":\"https://api.github.com/repos/philipjohn/manifesto/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/philipjohn/manifesto/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/philipjohn/manifesto/tags\",\"blobs_url\":\"https://api.github.com/repos/philipjohn/manifesto/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/philipjohn/manifesto/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/philipjohn/manifesto/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/philipjohn/manifesto/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/philipjohn/manifesto/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/philipjohn/manifesto/languages\",\"stargazers_url\":\"https://api.github.com/repos/philipjohn/manifesto/stargazers\",\"contributors_url\":\"https://api.github.com/repos/philipjohn/manifesto/contributors\",\"subscribers_url\":\"https://api.github.com/repos/philipjohn/manifesto/subscribers\",\"subscription_url\":\"https://api.github.com/repos/philipjohn/manifesto/subscription\",\"commits_url\":\"https://api.github.com/repos/philipjohn/manifesto/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/philipjohn/manifesto/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/philipjohn/manifesto/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/philipjohn/manifesto/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/philipjohn/manifesto/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/philipjohn/manifesto/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/philipjohn/manifesto/merges\",\"archive_url\":\"https://api.github.com/repos/philipjohn/manifesto/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/philipjohn/manifesto/downloads\",\"issues_url\":\"https://api.github.com/repos/philipjohn/manifesto/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/philipjohn/manifesto/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/philipjohn/manifesto/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/philipjohn/manifesto/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/philipjohn/manifesto/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/philipjohn/manifesto/releases{/id}\",\"created_at\":\"2014-01-06T17:49:53Z\",\"updated_at\":\"2014-03-14T21:35:08Z\",\"pushed_at\":\"2014-03-10T21:40:11Z\",\"git_url\":\"git://github.com/philipjohn/manifesto.git\",\"ssh_url\":\"git@github.com:philipjohn/manifesto.git\",\"clone_url\":\"https://github.com/philipjohn/manifesto.git\",\"svn_url\":\"https://github.com/philipjohn/manifesto\",\"homepage\":\"http://openpolitics.org.uk/manifesto\",\"size\":1122,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":false,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"environment\",\"master_branch\":\"environment\"}},\"base\":{\"label\":\"openpolitics:gh-pages\",\"ref\":\"gh-pages\",\"sha\":\"457528e8492e11443d4cc375d6a0bac347c8f6df\",\"user\":{\"login\":\"openpolitics\",\"id\":5188717,\"avatar_url\":\"https://avatars.githubusercontent.com/u/5188717?\",\"gravatar_id\":\"73f0882a7113d5e8b0f71a2d2ed4dd56\",\"url\":\"https://api.github.com/users/openpolitics\",\"html_url\":\"https://github.com/openpolitics\",\"followers_url\":\"https://api.github.com/users/openpolitics/followers\",\"following_url\":\"https://api.github.[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/74/comments?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
 [...]
- request:
    method: post
    uri: https://api.github.com/repos/openpolitics/manifesto/statuses/d269c658ed6d056dfa71ed47e28fbdc44c3c6b01?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"state\":\"pending\",\"target_url\":\"http://votebot.openpolitics.org.uk/74\",\"description\":\"The
        change is waiting for more votes\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4925'
      X-Ratelimit-Reset:
      - '1395402094'
      Etag:
      - "\"7c8895778a5e6aefaa974d19883d5ad8\""
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/openpolitics/manifesto/statuses/d269c658ed6d056dfa71ed47e28fbdc44c3c6b01
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/openpolitics/manifesto/statuses/d269c658ed6d056dfa71ed47e28fbdc44c3c6b01\",\"id\":47934557,\"state\":\"pending\",\"description\":\"The
        change is waiting for more votes\",\"target_url\":\"http://votebot.openpolitics.org.uk/74\",\"creator\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://avatars.githubusercontent.com/u/3565?\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"created_at\":\"2014-03-21T10:51:16Z\",\"updated_at\":\"2014-03-21T10:51:16Z\"}"
  recorded_at: Fri, 21 Mar 2014 10:51:17 GMT
recorded_with: VCR 2.8.0
