Hi,

<p>
  A new proposal has been submitted to the OpenPolitics Manifesto, and as a
  previous contributor you can vote on whether or not it's accepted.
</p>

<h2>
  <strong>Proposal:</strong> <%= link_to @proposal.title, @proposal %>
</h2>

<p>
  You can comment and vote using the form at the bottom of the page.
</p>

<p>
thanks,<br/>
The OpenPolitics Team
</p>

<p>
  P.S. You are receiving this email because you are a contributor to the OpenPolitics
  Manifesto. If you don't want to receive notifications like this in future,
  please update your email preferences on
  <a href="<%= ENV.fetch("SITE_URL") %>/users/<%= @recipient.login %>/edit">your settings page</a>.
</p>