---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1469541657'
      Etag:
      - W/"1430706d89907ece2cf39ad29c60f1e6"
      Last-Modified:
      - Mon, 13 Jun 2016 08:56:50 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/openpolitics/manifesto/pulls/9","id":9561272,"html_url":"https://github.com/openpolitics/manifesto/pull/9","diff_url":"https://github.com/openpolitics/manifesto/pull/9.diff","patch_url":"https://github.com/openpolitics/manifesto/pull/9.patch","issue_url":"https://api.github.com/repos/openpolitics/manifesto/issues/9","number":9,"state":"closed","locked":false,"title":"Derp","user":{"login":"pikesley","id":885973,"avatar_url":"https://avatars.githubusercontent.com/u/885973?v=3","gravatar_id":"","url":"https://api.github.com/users/pikesley","html_url":"https://github.com/pikesley","followers_url":"https://api.github.com/users/pikesley/followers","following_url":"https://api.github.com/users/pikesley/following{/other_user}","gists_url":"https://api.github.com/users/pikesley/gists{/gist_id}","starred_url":"https://api.github.com/users/pikesley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pikesley/subscriptions","organizations_url":"https://api.github.com/users/pikesley/orgs","repos_url":"https://api.github.com/users/pikesley/repos","events_url":"https://api.github.com/users/pikesley/events{/privacy}","received_events_url":"https://api.github.com/users/pikesley/received_events","type":"User","site_admin":false},"body":"This
        pull request has been automatically generated by prose.io.","created_at":"2013-10-31T12:11:57Z","updated_at":"2014-07-28T12:12:38Z","closed_at":"2013-11-03T18:47:35Z","merged_at":null,"merge_commit_sha":"268e4d2962d8d6f58a4eb0d78ed501fa5b92b98d","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/9/commits","review_comments_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/9/comments","review_comment_url":"https://api.github.com/repos/openpolitics/manifesto/pulls/comments{/number}","comments_url":"https://api.github.com/repos/openpolitics/manifesto/issues/9/comments","statuses_url":"https://api.github.com/repos/openpolitics/manifesto/statuses/bd1fcefb90dea573bd9e66ac13401eb380ca08de","head":{"label":"pikesley:prose-patch-1","ref":"prose-patch-1","sha":"bd1fcefb90dea573bd9e66ac13401eb380ca08de","user":{"login":"pikesley","id":885973,"avatar_url":"https://avatars.githubusercontent.com/u/885973?v=3","gravatar_id":"","url":"https://api.github.com/users/pikesley","html_url":"https://github.com/pikesley","followers_url":"https://api.github.com/users/pikesley/followers","following_url":"https://api.github.com/users/pikesley/following{/other_user}","gists_url":"https://api.github.com/users/pikesley/gists{/gist_id}","starred_url":"https://api.github.com/users/pikesley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pikesley/subscriptions","organizations_url":"https://api.github.com/users/pikesley/orgs","repos_url":"https://api.github.com/users/pikesley/repos","events_url":"https://api.github.com/users/pikesley/events{/privacy}","received_events_url":"https://api.github.com/users/pikesley/received_events","type":"User","site_admin":false},"repo":{"id":14015902,"name":"manifesto","full_name":"pikesley/manifesto","owner":{"login":"pikesley","id":885973,"avatar_url":"https://avatars.githubusercontent.com/u/885973?v=3","gravatar_id":"","url":"https://api.github.com/users/pikesley","html_url":"https://github.com/pikesley","followers_url":"https://api.github.com/users/pikesley/followers","following_url":"https://api.github.com/users/pikesley/following{/other_user}","gists_url":"https://api.github.com/users/pikesley/gists{/gist_id}","starred_url":"https://api.github.com/users/pikesley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pikesley/subscriptions","organizations_url":"https://api.github.com/users/pikesley/orgs","repos_url":"https://api.github.com/users/pikesley/repos","events_url":"https://api.github.com/users/pikesley/events{/privacy}","received_events_url":"https://api.github.com/users/pikesley/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pikesley/manifesto","description":"A
        collaborative political manifesto","fork":true,"url":"https://api.github.com/repos/pikesley/manifesto","forks_url":"https://api.github.com/repos/pikesley/manifesto/forks","keys_url":"https://api.github.com/repos/pikesley/manifesto/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pikesley/manifesto/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pikesley/manifesto/teams","hooks_url":"https://api.github.com/repos/pikesley/manifesto/hooks","issue_events_url":"https://api.github.com/repos/pikesley/manifesto/issues/events{/number}","events_url":"https://api.github.com/repos/pikesley/manifesto/events","assignees_url":"https://api.github.com/repos/pikesley/manifesto/assignees{/user}","branches_url":"https://api.github.com/repos/pikesley/manifesto/branches{/branch}","tags_url":"https://api.github.com/repos/pikesley/manifesto/tags","blobs_url":"https://api.github.com/repos/pikesley/manifesto/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pikesley/manifesto/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pikesley/manifesto/git/refs{/sha}","trees_url":"https://api.github.com/repos/pikesley/manifesto/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pikesley/manifesto/statuses/{sha}","languages_url":"https://api.github.com/repos/pikesley/manifesto/languages","stargazers_url":"https://api.github.com/repos/pikesley/manifesto/stargazers","contributors_url":"https://api.github.com/repos/pikesley/manifesto/contributors","subscribers_url":"https://api.github.com/repos/pikesley/manifesto/subscribers","subscription_url":"https://api.github.com/repos/pikesley/manifesto/subscription","commits_url":"https://api.github.com/repos/pikesley/manifesto/commits{/sha}","git_commits_url":"https://api.github.com/repos/pikesley/manifesto/git/commits{/sha}","comments_url":"https://api.github.com/repos/pikesley/manifesto/comments{/number}","issue_comment_url":"https://api.github.com/repos/pikesley/manifesto/issues/comments{/number}","contents_url":"https://api.github.com/repos/pikesley/manifesto/contents/{+path}","compare_url":"https://api.github.com/repos/pikesley/manifesto/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pikesley/manifesto/merges","archive_url":"https://api.github.com/repos/pikesley/manifesto/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pikesley/manifesto/downloads","issues_url":"https://api.github.com/repos/pikesley/manifesto/issues{/number}","pulls_url":"https://api.github.com/repos/pikesley/manifesto/pulls{/number}","milestones_url":"https://api.github.com/repos/pikesley/manifesto/milestones{/number}","notifications_url":"https://api.github.com/repos/pikesley/manifesto/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pikesley/manifesto/labels{/name}","releases_url":"https://api.github.com/repos/pikesley/manifesto/releases{/id}","deployments_url":"https://api.github.com/repos/pikesley/manifesto/deployments","created_at":"2013-10-31T12:11:53Z","updated_at":"2013-11-03T18:47:44Z","pushed_at":"2013-11-03T18:47:40Z","git_url":"git://github.com/pikesley/manifesto.git","ssh_url":"git@github.com:pikesley/manifesto.git","clone_url":"https://github.com/pikesley/manifesto.git","svn_url":"https://github.com/pikesley/manifesto","homepage":"http://openpolitics.github.io/manifesto","size":89,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"gh-pages"}},"base":{"label":"openpolitics:gh-pages","ref":"gh-pages","sha":"3702d2766fbb0d543c9dcb759ea5e27905082f88","user":{"login":"openpolitics","id":5188717,"avatar_url":"https://avatars.githubusercontent.com/u/5188717?v=3","gravatar_id":"","url":"https://api.github.com/users/openpolitics","html_url":"https://github.com/openpolitics","followers_url":"https://api.github.com/users/openpolitics/followers","following_url":"https://api.github.com/users/openpolitics/following{/other_user}","gists_url":"https://api.[...]
- request:
    method: get
    uri: https://api.github.com/users/pikesley
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimi[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/contributors?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Re[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/issues/9/comments?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelim[...]
- request:
    method: get
    uri: https://api.github.com/repos/openpolitics/manifesto/pulls/9/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1469541657'
      Etag:
      - W/"066c0bb01c7488b5d91bba54132eb488"
      Last-Modified:
      - Mon, 13 Jun 2016 08:56:50 GMT
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"bd1fcefb90dea573bd9e66ac13401eb380ca08de","commit":{"author":{"name":"Sam
        Pikesley","email":"github@orgraphone.org","date":"2013-10-31T12:11:57Z"},"committer":{"name":"Sam
        Pikesley","email":"github@orgraphone.org","date":"2013-10-31T12:11:57Z"},"message":"Derp","tree":{"sha":"098e6d5f8712eb1bbfb654102858d8117453eb14","url":"https://api.github.com/repos/openpolitics/manifesto/git/trees/098e6d5f8712eb1bbfb654102858d8117453eb14"},"url":"https://api.github.com/repos/openpolitics/manifesto/git/commits/bd1fcefb90dea573bd9e66ac13401eb380ca08de","comment_count":0},"url":"https://api.github.com/repos/openpolitics/manifesto/commits/bd1fcefb90dea573bd9e66ac13401eb380ca08de","html_url":"https://github.com/openpolitics/manifesto/commit/bd1fcefb90dea573bd9e66ac13401eb380ca08de","comments_url":"https://api.github.com/repos/openpolitics/manifesto/commits/bd1fcefb90dea573bd9e66ac13401eb380ca08de/comments","author":{"login":"pikesley","id":885973,"avatar_url":"https://avatars.githubusercontent.com/u/885973?v=3","gravatar_id":"","url":"https://api.github.com/user[...]
- request:
    method: get
    uri: https://api.github.com/users/stringfellow
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Rate[...]
[...]
