<h1>Open Proposals</h1>

<div class='alert alert-info' style='clear: both'>
  <p>
    This page lists suggested changes to the manifesto. Open proposals are ready
    for comments and must be voted on before they can be included in the manifesto.
    You can only vote on proposals if you have already successfully contributed a
    change to the manifesto.
  </p>
  <p>
    To create your own proposal:
  </p>
  <ol>
    <li>pick a subject you are interested in,</li>
    <li>find a suitable page in the manifesto,</li>
    <li>click on the "Suggest a change" button!</li>
  </ol>
</div>

<%= render partial: 'shared/proposal_list', locals: {proposals: @open_proposals} %>

<h1>Closed Proposals</h1>

<%= render partial: 'shared/proposal_list', locals: {proposals: @closed_proposals} %>

<div style="text-align: center">
  <%= paginate @closed_proposals %>
</div>