table.vote-list td img {
  height: 24px;
}

div.proposer img {
  height: 48px;
}

img.user-large {
  height: 96px;
}

div.userlist img {
  height: 48px;
  margin: 5px;
}

.panel-heading img, th img {
  height: 24px;
}

div.agree .panel-body img, div.block .panel-body img, div.no .panel-body img, div.participants .panel-body img {
  height: 48px;
}

div.agree .panel-body, div.block .panel-body, div.no .panel-body {
  min-height: 150px;
}

div.participants .panel-body {
  min-height: 50px;
}

.status h1 {
  margin-top: 10px;
}

img.user {
  opacity: 0.5;
  margin: 5px;
  height: 48px;
}

img.contributor {
  opacity: 1;
}

.toolbar-avatar {
  img {
    height: 20px;
    margin: 0px;
  }
}