name: CI
on: push
jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Install sqlite3
        run: sudo apt-get install libsqlite3-dev
      - uses: eregon/use-ruby-action@master
        with:
          ruby-version: "2.7"
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3 --without=production
  test:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Set up the test database
        run: |
          RAILS_ENV=test bundle exec rake db:setup
      - name: Run the tests
        run: |
          bundle exec rake
  lint:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Run the linter
        run: |
          bundle exec rubocop
